.background{
    color: #fcfcfc;
}
.wallpaper {
  display: grid;

  grid-template-rows: 100px;


  


  }
  .grid_item{
    text-align: center;
    padding: 30px;
    color: #ffffff;
    border: 0.5px dashed rgb(251, 174, 139);
    background-color: rgb(44, 91, 91);
  }